@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body,h1,h2,h3,h4,p{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
}
p{
    font-size: 1.2rem;
    line-height: 30px;
}
a{
    color: inherit;
}
a:hover{
    color: orange;
}
.noLetterSpace{
    letter-spacing: 0px;
}
h1,h2,h3{
    letter-spacing: 5px;
}
h1{
    font-size: 50px;
    /* font-size: 3vw; */
}
h2{
    font-size: 45px;
}
h3{
    font-size: 40px;
    letter-spacing: 10px;
}
h4{
    font-size: 20px;
    letter-spacing: 1px;
}

#myProfile{
    width: 55%;
    display: block;
    margin: auto;
    border-radius: 50%;
	border: 1px solid rgb(253, 253, 253);
}
.mainContent{
    margin-left: calc(min(280px, 20vw));
    padding: 20px;
}
.header{
    margin-top: 40px;
    margin-bottom: 30px;
}
.group:after {
    content: "";
    display: table;
    clear: both;
  }
.unit{
    width: 100%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
.meta{
    padding: 0px 20px 0px 30px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.644);
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

.colorBoxContent div{
    padding: 0.4vw;
}

.colorBoxContent{
    margin-top: .5vw;
    text-align: center;
    margin-bottom: 1.2vw;
}

.dropDownImg{
    width: 95%;
    margin: 0 auto 1vw auto;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.dropDownImg .head{
    padding: 2vw;
    font-size: 1.8vw;
}
.dropDownImg .head i{
    float: right;
    transition: 0.6s;
}
.dropDownImg .head:hover{
    opacity: 75%;
}

.dropDownImgColor-0{
    border: 5px solid #eed3b1;
    background-color: rgb(235, 215, 190);
}
.dropDownImgColor-0 .head{
    background-color: #eed3b1;
}
.dropDownImgColor-1{
    border: 5px solid #D8B484;
    background-color: rgb(231, 201, 161);
}
.dropDownImgColor-1 .head{
    background-color: #D8B484;
}
.dropDownImgColor-2{
    border: 5px solid #B16B2F;
    background-color: rgb(184, 132, 86);
}
.dropDownImgColor-2 .head{
    background-color: #B16B2F;
}
.dropDownImgColor-3{
    border: 5px solid #C76331;
    background-color: rgb(212, 125, 82);
}
.dropDownImgColor-3 .head{
    background-color: #C76331;
}
.dropDownImgColor-4{
    border: 5px solid #9A2513;
    background-color: rgb(170, 76, 61);
}
.dropDownImgColor-4 .head{
    background-color: #9A2513;
}




.dropDownImg .bar{
    display: none;
    padding: 0 2vw 2vw 2vw;
}
.bar div{
    float: left;
    width: 15vw;
    margin: 10px 30px;
    text-align: center;
    font-size: 1vw;
}
.lowMinHeight{
    min-height: 17vw;
}
.highMinHeight{
    min-height: 29vw;
}
.bar div img{
    margin:  2vw 0;
    width: 100%;
}
.contactBoxSet{
    max-width: 60rem;
    margin: auto;
}
.contactBox{
    width: 16rem;
    margin: 2rem 1.0rem 2rem 2.5rem;
    padding: 1% 2% 0% 2%;
    float: left;
    transition: all 250ms cubic-bezier(0.02,0.01,0.47,1);
    box-shadow: 0 4px 16px rgba(48,55,66,0.15);
    background-color: rgb(102, 175, 243);
    border-radius: 20px;
    color: white;
}
.contactBox .contactBoxImg{
    width: 40%;
    margin:10% auto 8% auto;
}
.contactBox img{
    width: 100%;
}
.contactBox h4{
    margin-bottom: 0;
}
.contactBox .meta{
    border: none;
    font-size: 0.9rem;
}
.contactBox:hover{
    box-shadow: 0 16px 32px rgba(48, 55, 66, 0.76);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
    z-index: 1;
    cursor: pointer;
}
.sendMail{
    margin: 2.5% auto;
    width: 95%;
    border: 3px solid rgba(177, 165, 165, 0.747);
    border-radius: 20px;
    padding: 0 2rem ;
}
.field{
    width: 100%;
    margin: 2rem 0 !important;
}
.field label{
    /* font-size: 1.4rem !important; */
    font-weight: 500 !important; 
    margin-bottom: 10px !important;
}
.sendMailBtn{
    background-color: rgba(255, 122, 122, 0.856) !important;
    color: white !important;
    font-size: 1.4rem !important;
}
.sendMailBtn:hover{
    background-color: rgb(248, 161, 161) !important;
    color: white !important;
}

img {
    vertical-align: middle;
}
.container {
    position: relative;
}
.cursor {
    cursor: pointer;
}
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgba(87, 85, 78, 0.658);
    font-weight: 200;
    padding: 5px 10px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 20%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
