@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body,h1,h2,h3,h4,p{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
}
p{
    font-size: 1.2rem;
    line-height: 30px;
}
a{
    color: inherit;
}
a:hover{
    color: orange;
}
.noLetterSpace{
    letter-spacing: 0px;
}
h1,h2,h3{
    letter-spacing: 5px;
}

.mainContent{
    margin-left: calc(min(280px, 20vw));
    padding: 20px;
}
.header{
    margin-top: 40px;
    margin-bottom: 30px;
}
.group:after {
    content: "";
    display: table;
    clear: both;
  }
.meta{
    padding: 0px 20px 0px 30px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.644);
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}

img {
    vertical-align: middle;
}
.container {
    position: relative;
}
.cursor {
    cursor: pointer;
}
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgba(87, 85, 78, 0.658);
    font-weight: 200;
    padding: 5px 10px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 20%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
