<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tim's Web</title>

    <link rel = "stylesheet" type = "text/css" href = "css/reset.css">
    <link rel = "stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <link rel = "stylesheet" type = "text/css" href = "css/mobile.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161578161-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161578161-1');
    </script>
    <script src = "js/lib/echarts.js"></script>
    <script src = "js/lib/vue@3.2.36.js"></script>
    <script src = "js/lib/vue3-sfc-loader.js"></script>
    <script src = "js/jquery-2.1.4.min.js"></script>
    <script src = "Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src = "js/helper/processHelper.js"></script>
    <script src = "js/helper/arrayHelper.js"></script>
    <script src = "js/helper/mathHelper.js"></script>
    <script src = "js/style.js"></script>
    <script src = "js/mail.js"></script>
</head>
<body>
    <div id="vueApp">

        <user-nav></user-nav>
        
        <div class = "mainContent">
            <template v-for="(content, index) in webStructure" :key="index">
                 <unit-content :unit-title="content.title" :id="content.domId" :is-header="content.isHeader">
                    <template v-if="content.contentType ==='paragraph image'">
                        <content-paragraph
                            :content-list="content.content"
                            height="300px"
                            :collapse-mode="true"
                        ></content-paragraph>
                        <img-block
                            :imgs-list="content.imgs"
                        ></img-block>
                    </template>
                    <template v-if="content.contentType ==='rotateCard'">
                        <rotate-card
                            v-for="(card, cardIndex) in content.rotateCard"
                            :key="cardIndex"
                            :big-title="card.bigTitle"
                            :medium-title="card.mediumTitle"
                            :small-title="card.smallTitle"
                            :tag="card.tag"
                            :color-style="card.colorStyle"
                            :background-img="card.backgroundImg"
                            :logo-img="card.middleLogoImg"
                            :rotate-img="card.rotateContent.img"
                            :rotate-title="card.rotateContent.title"
                            :rotate-sub-title="card.rotateContent.subTitle"
                            :rotate-content-list=card.rotateContent.descriptionList
                        ></rotate-card>
                    </template>
                    <template v-if="content.contentType ==='listBlock'">
                        <list-block 
                            v-for="(block, blockIndex) in content.content"
                            :title="block.title"
                            :icon_url="block.iconUrl"
                            :block_style="block.style"
                            >
                            <list-block-list
                                :list="block.listItems"
                            ></list-block-list>
                        </list-block>
                    </template>
                    <template v-if="content.contentType ==='timeLine'">
                        <time-line-block
                            :content-list="content.content"
                        ></time-line-block>
                    </template>
                    <template v-if="content.contentType ==='paragraphImagesCard'">
                        <paragraph-images-card
                            v-for="(card, cardIndex) in content.content"
                            :title="card.title"
                            :content-list="card.contentList"
                            :head-shot="card.headShot"
                            :head-shot-direction="card.headShotDirection"
                            :img-list="card.imgList"
                        ></paragraph-images-card>
                    </template>
                </unit-content>
            </template>

            <div class = "unit group" id = "portfolio">
                <h1 class = "title" >作品集 － <span class = "noLetterSpace">Portfolio<span></span></h1>
                <hr class = "line">

                <div class = "ui longer large modal" id = "portfolioModal">
                    <i class="close icon"></i>
                    <div class = "modalHead" id = "modalHead">TimeKeeper 智慧鬧鐘</div>
                    <div class = "scrolling image content">
                        <div class="ui image group" id = "slideImgDiv">
                            <div class = "container">

                                <div class="mySlides">
                                    <div class="numbertext">1 / 5</div>
                                    <img  id = "slideImg-1" src="img/timekeeper-8.png" style="width:100%">
                                </div>

                                <div class="mySlides">
                                    <div class="numbertext">2 / 5</div>
                                    <img id = "slideImg-2" src="img/timekeeper-1.png" style="width:100%">
                                </div>
                            
                                <div class="mySlides">
                                    <div class="numbertext">3 / 5</div>
                                    <img id = "slideImg-3" src="img/timekeeper-2.png" style="width:100%">
                                </div>
                            
                                <div class="mySlides">
                                    <div class="numbertext">4 / 5</div>
                                    <img id = "slideImg-4" src="img/timekeeper-3.png" style="width:100%">
                                </div>
                                
                                <div class="mySlides">
                                    <div class="numbertext">5 / 5</div>
                                    <img id = "slideImg-5" src="img/timekeeper-4.png" style="width:100%">
                                </div>
                                
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                            
                                <div class="caption-container">
                                    <p id="caption"></p>
                                </div>
                            
                                <div class="row">
                                    <div class="column">
                                        <img class="demo cursor" id = "columImg-1" src="img/timekeeper-8.png" style="width:100%" onclick="currentSlide(1)" alt="三種模式可供選擇">
                                    </div>
                                    <div class="column">
                                        <img class="demo cursor" id = "columImg-2" src="img/timekeeper-1.png" style="width:100%" onclick="currentSlide(2)" alt="系統首頁">
                                    </div>
                                    <div class="column">
                                        <img class="demo cursor" id = "columImg-3" src="img/timekeeper-2.png" style="width:100%" onclick="currentSlide(3)" alt="好友頁面">
                                    </div>
                                    <div class="column">
                                        <img class="demo cursor" id = "columImg-4" src="img/timekeeper-3.png" style="width:100%" onclick="currentSlide(4)" alt="加入好友頁面">
                                    </div>
                                    <div class="column">
                                        <img class="demo cursor" id = "columImg-5" src="img/timekeeper-4.png" style="width:100%" onclick="currentSlide(5)" alt="個人資料頁面">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="description" id = "modalDescription">
                            <div class="ui header" id = "descriptionHead">結合AI、社群、Open Data的時間管家</div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui black deny button">
                        關閉
                        </div>
                    </div>
                </div>

                <div class = "colorBoxSet group">
                    
                    <div class = "colorBox colorBoxColor-1" id = "SPECAPIColorBox">
                        <div class = "ui violet right ribbon label">2020</div>
                        <div class = "circleImg">
                            <img src = "img/document.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>SPEC 文件推薦API</h4>
                            <div>Flask API</div>
                            <div>Python</div>
                            <div>NLP</div>
                            <div>ML</div>
                            <div>DL</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-2" id = "LSTMStock">
                        <div class = "ui olive right ribbon label">2021</div>
                        <div class = "circleImg">
                            <img src = "img/stock.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>LSTM股價預測</h4>
                            <div>Python</div>
                            <div>DL</div>
                            <div>LSTM</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-3" id = "DcardPopularArticle">
                        <div class = "ui brown right ribbon label">2020</div>
                        <div class = "circleImg">
                            <img src = "img/dcardLogo.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>預測Dcard熱門文章</h4>
                            <div>Python</div>
                            <div>ML</div>
                            <div>DL</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-4" id = "ncuGroceryShoppingManColorBox">
                        <div class = "ui pink right ribbon label">2020</div>
                        <div class = "circleImg">
                            <img src = "img/vegetable.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>中央買菜郎</h4>
                            <div>Django</div>
                            <div>Html</div>
                            <div>CSS</div>
                            <div>Kendo UI</div>
                            <div>Open Data</div>
                            <div>Heroku</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-5" id = "timekeeperColorBox">
                        <div class = "ui orange right ribbon label">2018</div>
                        <div class = "circleImg">
                            <img src = "img/alarmclock.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>TimeKeeper 智慧鬧鐘</h4>
                            <div>Android</div>
                            <div>Keras</div>
                            <div>DL</div>
                            <div>MySQL</div>
                            <div>PHP</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-6" id = "lxmlDcardColorBox">
                        <div class = "ui grey right ribbon label">2019</div>
                        <div class = "circleImg">
                            <img src = "img/web-crawler.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>Dcard 文章關鍵字熱度爬蟲</h4>
                            <div>Python</div>
                            <div>lxml</div>
                            <div>Web Crawler</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-7" id = "busColorBox">
                        <div class = "ui pink right ribbon label">2018</div>
                        <div class = "circleImg">
                            <img src = "img/bus.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>高雄老司機</h4>
                            <div>Html</div>
                            <div>CSS</div>
                            <div>Javascript</div>
                            <div>Open data</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-8" id = "chineseNumColorBox">
                        <div class = "ui purple right ribbon label">2018</div>
                        <div class = "circleImg">
                            <img src = "img/artificial-intelligence.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>中文數字手寫辨識</h4>
                            <div>AI</div>
                            <div>Keras</div>
                            <div>CNN</div>
                        </div>    
                    </div>

                    <div class = "colorBox colorBoxColor-9" id = "timerColorBox">
                        <div class = "ui teal right ribbon label">2017</div>
                        <div class = "circleImg">
                            <img src = "img/pin.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>Timer</h4>
                            <div>Node.js</div>
                            <div>Open data</div>
                            <div>Heroku</div>
                        </div>    
                    </div>
                    
                    
                </div>
            </div>

            <div class = "unit group" id = "certificate">
                <h1 class = "title" >其他證明文件 － <span class = "noLetterSpace">Certificate<span></span></h1>
                <hr class = "line">

                <div class = "dropDownImg dropDownImgColor-0 group" id = "intern">
                    <div class = "head">
                        實習證明
                        <i class = "chevron down icon"></i>
                    </div>
                    <div class = "bar group" id = "internBar">
                        <div class = "highMinHeight">
                            <img src = "img/CatheyIntern.jpg">
                            國泰人壽 壽程科 實習證明
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/CatheyPreoffer.jpg">
                            國泰人壽 預聘書
                        </div>
                    </div>
                </div>
                
                <div class = "dropDownImg dropDownImgColor-1 group" id = "bookAward">
                    <div class = "head">
                        書卷獎
                        <i class = "chevron down icon"></i>
                    </div>
                    <div class = "bar group" id = "bookAwardBar">
                        <div class = "highMinHeight">
                            <img src = "img/bookAward-1.jpg">
                            大一上 第二名 書卷獎
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/bookAward-2.jpg">
                            大一下 第一名 書卷獎
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/bookAward-3.jpg">
                            大二下 第二名 書卷獎
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/bookAward-4.jpg">
                            碩一上 第二名 書卷獎
                        </div>
                    </div>
                </div>

                <div class = "dropDownImg dropDownImgColor-2 group" id = "competitionAward">
                    <div class = "head">
                        其他競賽獎狀
                        <i class = "chevron down icon"></i>
                    </div>
                    <div class = "bar group" id = "competitionAwardBar">
                        <div class = "highMinHeight">
                            <img src = "img/competition-8.jpg">
                            碩士論文計畫發表會 Session L 最佳論文獎
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-1.jpg">
                            畢業專題 第三名
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-2.jpg">
                            第六屆 激發學生創意競賽 佳作
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-3.jpg">
                            2017 ECIC 全國大專院校電子商務競賽 數位行銷 優等獎
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-4.jpg">
                            106年 招生影片創作暨主題式微電影競賽 入圍(管理學院)
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-7.jpg">
                            106年 招生影片創作暨主題式微電影競賽 參獎(管理學院)
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-5.jpg">
                            106年 招生影片創作暨主題式微電影競賽 入圍(資管系)
                        </div>
                        <div class = "highMinHeight">
                            <img src = "img/competition-6.jpg">
                            2018 倫理個案分析暨微電影競賽 個案組 佳作
                        </div>
                    </div>
                </div>

                <div class = "dropDownImg dropDownImgColor-3 group" id = "leaderAward">
                    <div class = "head">
                        幹部與活動證明
                        <i class = "chevron down icon"></i>
                    </div>
                    <div class = "bar group" id = "leaderAwardBar">
                        <div class = "lowMinHeight">
                            <img src = "img/leader-1.jpg">
                            第十六屆 系學會 會長
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/leader-2.jpg">
                            第七屆 高大資管營 副召
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/leader-3.jpg">
                            第六屆 高大資管營 課務部 部長
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/EMBAEnterpriseTeacherProgram.jpg">
                            中央大學EMBA 企業導師計畫 參加證書
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/PythonSummerCampTA.jpg">
                            Python 學生團隊 暑期營 助教證書
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/PythonTeam.jpg">
                            Python 學生團隊 技能核定書
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/leader-4.jpg">
                            2016 資管週 財務長
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/leader-5.jpg">
                            109級 迎新宿營 機動長
                        </div>
                    </div>
                </div>

                <div class = "dropDownImg dropDownImgColor-4 group" id = "volunteerAward">
                    <div class = "head">
                        志工感謝狀
                        <i class = "chevron down icon"></i>
                    </div>
                    <div class = "bar group" id = "volunteerAwardBar">
                        <div class = "highMinHeight">
                            <img src = "img/volunteer-1.jpg">
                            105年 IM Pioneer 翠屏里服務感謝狀
                        </div>
                        <div class = "lowMinHeight">
                            <img src = "img/volunteer-2.jpg">
                            106年 IM Pioneer 翠屏里服務感謝狀
                        </div>
                    </div>
                </div>
            </div>

            <div class = "unit group" id = "contact">
                <h1 class = "title" >聯絡資訊 － <span class = "noLetterSpace">Contact Me<span></span></h1>
                <hr class = "line">
                <p>&nbsp&nbsp&nbsp&nbsp如果您想對我有更細一步的了解，或是您覺得這個個人網站還有哪邊可以改進的意見，
                    還是只是想認識認識交個朋友交流交流，都可以透過下方的連絡方式與我聯絡。我很高興可以認識大家，都很歡迎。
                </p>

                <div class = "sendMail">
                    <a id = "mailTo"></a>
                        <form  id = "mailForm" class = "ui form" accept-charset="utf-8">
                        <div class = field>
                            <label>姓名：</label>
                            <input type="text" name = "Name" placeholder="姓名">
                        </div>
                        <div class = field>
                            <label>Email：</label>
                            <input type="email" name = "Email" placeholder="Email">
                        </div>
                        <div class = field>
                            <label>主旨：</label>
                            <input type="text" name = "Subject" placeholder="主旨">
                        </div>
                        <div class = field>
                            <label>你想說什麼(字數限制於210字以內)：</label>
                            <textarea name = "content" cols="50" maxlength="210"></textarea>
                        </div>
                        <div class="ui success message" id = "seccessMessage">
                            <div class="header">信件成功寄出囉!</div>
                            <p>謝謝你的回覆，我看到後會盡快回復的XD</p>
                        </div>
                        <div class="ui error message" id = "errorMessage">
                            <div class="header">可能有些忘記填或輸入錯誤喔!</div>
                            <p></p>
                        </div>
                        <div class = field>
                            <button class = "fluid ui button" type="button" onclick='validation()'>Send</button>
                        </div>
                    </form>  
                </div>

                <div class = "contactBoxSet group">
                    <a href = "https://www.facebook.com/profile.php?id=100002342939054">
                        <div class = "contactBox">
                            <div class = "contactBoxImg">
                                <img src = "img/facebook.png">
                            </div>
                            <div class = "colorBoxContent">
                                <h4>Facebook</h4>
                                <div class = "meta">莊于霆</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/%E8%8E%8A-%E4%BA%8E%E9%9C%86-7a7b39198/">
                        <div class = "contactBox">
                            <div class = "contactBoxImg">
                                <img src = "img/linkedin.png">
                            </div>
                            <div class = "colorBoxContent">
                                <h4>LinkedIn</h4>
                                <div class = "meta">莊于霆</div>
                            </div>
                        </div>
                    </a>
                    <a href = "https://www.instagram.com/timgle_ct/?hl=zh-tw">
                        <div class = "contactBox">
                            <div class = "contactBoxImg">
                                <img src = "img/instagram.png">
                            </div>
                            <div class = "colorBoxContent">
                                <h4>Instagram</h4>
                                <div class = "meta">timgle_ct</div>
                            </div>
                        </div>
                    </a>
                    <a href = "https://github.com/TimgleCT">
                        <div class = "contactBox">
                            <div class = "contactBoxImg">
                                <img src = "img/github.png">
                            </div>
                            <div class = "colorBoxContent">
                                <h4>Github</h4>
                                <div class = "meta">TimgleCT</div>
                            </div>
                        </div>
                    </a>
                    <div class = "contactBox">
                        <div class = "contactBoxImg">
                            <img src = "img/gmail.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>Gmail</h4>
                            <div class = "meta">ct25283115</div>
                        </div>
                    </div>
                    <div class = "contactBox">
                        <div class = "contactBoxImg">
                            <img src = "img/telephone.png">
                        </div>
                        <div class = "colorBoxContent">
                            <h4>Phone</h4>
                            <div class = "meta">0973079448</div>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>

</body>

<script src = "js/helper/vue3LoaderHelper.js"></script>
<script src = "js/index.js"></script>
</html>