<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tim's Web</title>

    <link rel = "stylesheet" type = "text/css" href = "css/reset.css">
    <link rel = "stylesheet" type="text/css" href="Semantic-UI-CSS-master/semantic.min.css">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161578161-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-161578161-1');
    </script>
    <script src = "js/lib/echarts.js"></script>
    <script src = "js/lib/emailjs.js"></script>
    <script src = "js/lib/vue@3.2.36.js"></script>
    <script src = "js/lib/vue3-sfc-loader.js"></script>
    <script src = "js/jquery-2.1.4.min.js"></script>
    <script src = "Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src = "js/helper/processHelper.js"></script>
    <script src = "js/helper/arrayHelper.js"></script>
    <script src = "js/helper/mathHelper.js"></script>
    <script src = "js/helper/mailService.js"></script>
    <script src = "js/style.js"></script>
    <script src = "js/mail.js"></script>
</head>
<body>
    <div id="vueApp">

        <user-nav></user-nav>
        
        <div class = "mainContent">
            <template v-for="(content, index) in webStructure" :key="index">
                 <unit-content :unit-title="content.title" :id="content.domId" :is-header="content.isHeader">
                    <template v-if="content.contentType ==='paragraph image'">
                        <content-paragraph
                            :content-list="content.content"
                            height="400px"
                            :collapse-mode="true"
                        ></content-paragraph>
                        <img-block
                            :imgs-list="content.imgs"
                        ></img-block>
                    </template>
                    <template v-if="content.contentType ==='rotateCard'">
                        <rotate-card
                            v-for="(card, cardIndex) in content.rotateCard"
                            :key="cardIndex"
                            :big-title="card.bigTitle"
                            :medium-title="card.mediumTitle"
                            :small-title="card.smallTitle"
                            :tag="card.tag"
                            :color-style="card.colorStyle"
                            :background-img="card.backgroundImg"
                            :logo-img="card.middleLogoImg"
                            :rotate-img="card.rotateContent.img"
                            :rotate-title="card.rotateContent.title"
                            :rotate-sub-title="card.rotateContent.subTitle"
                            :rotate-content-list=card.rotateContent.descriptionList
                        ></rotate-card>
                    </template>
                    <template v-if="content.contentType ==='listBlock'">
                        <list-block 
                            v-for="(block, blockIndex) in content.content"
                            :title="block.title"
                            :icon_url="block.iconUrl"
                            :block_style="block.style"
                            >
                            <list-block-list
                                :list="block.listItems"
                            ></list-block-list>
                        </list-block>
                    </template>
                    <template v-if="content.contentType ==='timeLine'">
                        <time-line-block
                            :content-list="content.content"
                        ></time-line-block>
                    </template>
                    <template v-if="content.contentType ==='paragraphImagesCard'">
                        <paragraph-images-card
                            v-for="(card, cardIndex) in content.content"
                            :title="card.title"
                            :content-list="card.contentList"
                            :head-shot="card.headShot"
                            :head-shot-direction="card.headShotDirection"
                            :img-list="card.imgList"
                        ></paragraph-images-card>
                    </template>
                    <template v-if="content.contentType === 'colorBoxBlock'">
                        <color-box-block
                            :color-box-list="content.content"
                        ></color-box-block>
                    </template>
                    <template v-if="content.contentType === 'accordionImgs'">
                        <accordion-block
                            v-for="(accordion, index) in content.content"
                            :title="accordion.title"
                            :accordion-style="accordion.style"
                        >
                            <img-grid
                                :img-list="accordion.imgList"
                            ></img-grid>
                        </accordion-block>
                    </template>
                    <template v-if="content.contentType ==='contactInfo'">
                        <content-paragraph
                            :content-list="content.content.content"
                            :collapse-mode="false"
                        ></content-paragraph>
                        <mail-form></mail-form>
                        <contact-info-box-list
                            :contact-list="content.content.contactInfo"
                        ></contact-info-box-list>
                    </template>
                </unit-content>
            </template>

            <img-slide-desc-modal
                :modal-header="imgSlideDescModal.modalHeader"
                :img-list="imgSlideDescModal.imgList"
                :img-description-list="imgSlideDescModal.imgDescriptionList"
                :content-header="imgSlideDescModal.contentHeader"
                :content-list="imgSlideDescModal.contentList"
                :show="imgSlideDescModal.show"
                :img-desc-ratio-diff="imgSlideDescModal.imgDescRatioDiff"
                @close-modal="closeImgSlideDescModal()"
            ></img-slide-desc-modal>
        </div>
    </div>

</body>

<script src = "js/helper/vue3LoaderHelper.js"></script>
<script src = "js/index.js"></script>
</html>